<div class="enquiry-list">
  <h2>Enquiry List</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Alternate Contact</th>
        <th>Age</th>
        <th>PAN</th>
        <th>Enquiry Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let enquiry of allEnquiries">
        <td>{{ enquiry.enquiry_Id }}</td>
        <td>{{ enquiry.first_Name }}</td>
        <td>{{ enquiry.middle_Name }}</td>
        <td>{{ enquiry.last_Name }}</td>
        <td>{{ enquiry.applicant_EmailId }}</td>
        <td>{{ enquiry.contact_Number }}</td>
        <td>{{ enquiry.alternateContactNumber }}</td>
        <td>{{ enquiry.age }}</td>
        <td>{{ enquiry.panCardNumber }}</td>
        <td>{{enquiry.enquiryStatus}}</td>
        <td>
          <button (click)="editEnquiry(enquiry.enquiry_Id)">Send To OE</button>
          <button (click)="deleteEnquiry(enquiry.enquiry_Id)">Rejected</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
